@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');


:root {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* width: 100vw; */
    height: 100vh;
    background-color: rgba(21, 20, 20, 0.708);
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
}

#header {
    grid-row: 0 / 1;
    /* height: 10vh; */
}

#footer {
    grid-row: 2 / 3;
    height: 10vh;
}

#content {
    background-color: white;
    grid-row: 2;
    max-height: 80vh;
}

#form {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr;
    align-items: center;
    width: 33vw;
    height: 25rem;
    padding: 1rem;
    background-color: white;
    position: fixed;
    /* box-sizing: border-box; */
    /* position: absolute; */
    top: 10rem;
    margin: calc(100vh - 50rem) auto;
}

#form div:not(#bookRead) input {
    width: 100%;
    height: 2rem;
}

#bookTitle {
    grid-row-start: 1;
}

#bookAuthor {
    grid-row-start: 2; 
}

#bookPages {
    grid-row-start: 3;
}

#bookPages input {
    width: 3rem;
}

#bookRead {
    grid-row-start: 4; 
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#submit {
    width: 10vw;
    height: 5vh;
    grid-column: 1 / 3;
    grid-row-start: 5;
    margin: auto;
}

.hidden {
    visibility: hidden;
}

.disabled {
    
}

#form-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#task-buttons {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 90%;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2rem;
}

#book-db {
    display: grid;
    grid-template: 20px 1fr / 1fr 1fr;
    box-sizing: border-box;
    height: 80%;
    width: 80vw;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    margin: 2rem auto;
    column-gap: 2rem;
}

#book-db-y,
#book-db-n {
    /* display: grid; */
    overflow-y: auto;
    grid-row-start: 2;
    height: 100%;
}

#book-db-y > :nth-child(2n),
#book-db-n > :nth-child(2n) {
    background-color: pink;
}

#book-db-y {
    grid-column-start: 1;
}

#book-db-n {
    grid-column-start: 2;
}

#book-db > span {
    /* grid-column: 1 / 4; */
    font-weight: 900;
    text-align: center;
    border: 1px solid gray;
    color: white;
    background-color: black;
}

.book {
    display: grid;
    grid-template: 3rem / 2fr 2fr 1fr 2rem;
    max-height: 3rem;
    align-items: center;
}

.author,
.book-pgs {
    text-align: right;
}

.rm-book {
    text-align: center;
    font-size: 1.1rem;
    grid-column-start: 4;
}

.book-pgs {
    grid-column-start: 3;
    color: lightslategray;
}